.main-text  {
    display: flex;
    flex-direction: column;
    padding-left: 0.1em; 
    
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.block {
    text-transform: uppercase;
}

.chain {
    text-decoration: underline;
    color: rgb(238, 13, 189);
}

.card-title {
    color: rgb(238, 13, 189);
    text-decoration:underline;
}

.card-text {
    color: #fff;
    text-decoration:underline;
}